<div class="row justify-content-center text-center align-items-center ">
  <div class="col-md-6"><img class="img-fluid" src="../../assets/images/Forgot password-bro.png" alt=""></div>
 <div class="col-md-6">



<!--! step1 : forgot Password -->

   <form *ngIf="step1" [formGroup]="forgotPassForm" (ngSubmit)="forgotPassword()">
    <h4 class="fw-bold mb-3">Forgot Password?</h4>
    <p class="text-secondary px-5">Enter the email address associated with your account and we'll send you a reset code</p>

    <input formControlName="email" type="email" class="form-control w-75 mx-auto " id="email">

    <button class="g-btn btn my-4 w-75">Send Reset Code</button>

    <div *ngIf="emailError" class="alert alert-danger w-75 mx-auto" >{{emailError}}</div>

    <div class="mt-2">
      <p class="d-inline-block">
        <i class="fa-solid fa-caret-left text-primary"></i> </p>
      <a  routerLink="/login" class="text-primary cursor-pointer fs-6 fw-semibold ms-2">Go back to Login</a>
    </div>
  </form>




  <!--! step2 : reset CODE -->


  <form *ngIf="step2"  [formGroup]="resetCodeForm" (ngSubmit)="resetCode()" >
<div class="alert alert-primary w-75 mx-auto d-flex align-items-center justify-content-center">
<i class="fa-regular fa-circle-check fa-2x text-primary "></i>
<p class="text-primary m-0 fw-semibold p-0">We've sent you a reset code to {{email}}</p>
</div>

    <h4 class="fw-bold mb-3">Enter your verification code:</h4>
    <input formControlName="resetCode" type="text" class="form-control w-75 mx-auto" id="resetCode">

    <div *ngIf="codeError" class="mt-3 alert alert-danger w-75 mx-auto" >{{codeError}}</div>

    <button class="g-btn btn my-4 w-75">Confirm Code</button>
  </form>




  <!--! step3 : reset PASS -->


  <form *ngIf="step3" class="w-75 mx-auto" [formGroup]="newPassForm" (ngSubmit)="setNewPass()" >
    <h4 class="fw-bold mb-3">Reset Your Password</h4>


    <!-- new password section -->

    <label for="newPassword" class="text-start d-block mb-1 fw-lighter text-secondary fw-semibold">New Password</label>
    <input formControlName="newPassword" type="password" class="form-control mb-3" id="newPassword">

    <div class="alert alert-danger mt-3" *ngIf="newPassForm.get('newPassword')?.errors && newPassForm.get('newPassword')?.touched ">
      <p *ngIf="newPassForm.get('newPassword')?.getError('pattern')" class="m-0">
        Password must be at least 6 characters long and can contain letters and digits.
      </p>
      <p *ngIf="newPassForm.get('newPassword')?.getError('required')" class="m-0" >Password is required</p>
    </div>



    <!-- confirm password section -->

<label for="confirmNewPassword" class="text-start d-block mb-1 text-secondary fw-semibold">Confirm New Password</label>
<input type="password" formControlName="confirmNewPassword" class="form-control " id="confirmNewPassword">




<p class="alert alert-danger mt-3" *ngIf="newPassForm.hasError('required')&& newPassForm.get('confirmNewPassword')?.touched"  class="m-0" >Password is required</p>

<p class="alert alert-danger mt-3" *ngIf="newPassForm.hasError('passwordMismatch')&& newPassForm.get('confirmNewPassword')?.touched" class="m-0">
 Password and Confirm Password do not match.
</p>

    <button class="g-btn btn my-4 w-100">Reset my Password</button>
  </form>

 </div>
</div>
